body {
    margin: 0;
    margin-top: 0;
    padding: 0px;
    background-color: white;
}

.grid-container {
    height: 100%;
}

.grid-container .row, .grid-container .row .cell {
    border-color: rgb(200, 200, 200);
}


/********
 * rows *
 ********/

.grid-container .row {
    text-align: center;
    border-style: solid;
    border-width: 2px 0;
    height: 31%;
}

.grid-container .row:first-of-type {
    border-top-width: 0;
}

.grid-container .row:last-of-type {
    border-bottom-width: 2px;
}


/********
 * cells *
 *********/

.grid-container .row .cell {
    display: inline-block;
    width: 32%;
    border-style: solid;
    border-width: 0;
}

.grid-container .row .cell:first-of-type {
    border-right-width: 4px;
}

.grid-container .row .cell:last-of-type {
    border-left-width: 4px;

}

.grid-container .row .cell img {
    width: auto;
    height: 100%;
    margin: 0;
    opacity: 50%;
}


/**************************
 * fade/scale transitions *
 **************************/

.grid-container .cell.fader {
    animation-duration: 1s;
    animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-name: fade-in;
    -moz-animation-name: fade-in;
    -webkit-animation-name: fade-in;
}

@keyframes fade-in {
    from {
        background-color: black;
    }

    to {

    }
}

@-moz-keyframes fade-in {
    from {
        background-color: black;
    }

    to {
    }
}

@-webkit-keyframes fade-in {
    from {
        background-color: black;
    }

    to {
    }
}


/*************************
 * hints to experimenter *
 *************************/
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-container * {
    cursor: none;
}
.grid-container .hinter {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.grid-container .hinter > div {
    font-size: 0.75em;
    display: inline-block;
    width: 24%;
    padding: 0;
    margin: 0;
}

.grid-container .hinter > div:first-of-type {
    text-align: left;
}

.grid-container .hinter > div:last-of-type {
    text-align: right;
}

.grid-container .mini-grid .row {
    font-size: 0.7em;
    border-style: none;
    margin: 0;
    padding: 0;
}
.grid-container .mini-grid .row .cell {
    border-style: none;
    display: inline;
    padding: 0 10px;
    margin: 0;
}

.feedback-container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -256px;
}

.feedback-container {
    cursor: none;
}

.data-form {
    margin: 0 auto;
    width: 200px;
}

.data-form label {
    margin-top: 25px;
    display: block;
}

.data-form form {
    text-align: center;
}

.data-form-container {
    margin: 0 auto;
}

.data-form-container h1 {
    text-align: center;
    margin: 50px auto;
}
